@font-face
{
	font-family: "Audiowibe";
	src: url('Audiowide-Regular.ttf');
}

@font-face
{
	font-family: "Abel";
	src: url('Abel-Regular.ttf');
}

html
{
	background-color: #e5e5e5;
}

html, body
{
	margin: 0px;
}

body, form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1
{
	font-size: 25px;
	font-family: Audiowibe;
	text-align: center;
	border: solid 5px #2e43b6;
	border-radius: 12px;
	margin-top: 22vh;
	margin-bottom: 8vh;
	padding: 5px 10px 5px 10px;
}

@media (max-width:576px)
{
	h1
	{
		margin-top: 17vh;
	}
}

@media (max-width:360px)
{
	h1
	{
		margin-top: 11vh;
	}
}

form
{
	background-color: #2e43b6;
	border: solid 2px #252525;
	border-radius: 12px;
	padding: 24px 48px 24px 48px;
}

form label, form button, form p
{
	font-size: 22px;
	font-family: Audiowibe;
}

form p
{
	font-size: 20px;
	font-family: Abel;
	background-color: #e5e5e5;
	color: #a81515;
	border: solid 3px #a81515;
	border-radius: 12px;
	padding: 5px;
}

form input
{
	font-size: 20px;
	font-family: Abel;
	text-align: center;
	background-color: #d2d2d280;
	border: solid 2px #e5e5e5;
	border-radius: 10px;
	margin: 5px;
	outline: none;
	transition-duration: 0.18s;
}

form input:focus
{
	animation: ignite 0.8s infinite alternate;
}

@keyframes ignite
{
	0%
	{
		box-shadow: 0px 0px 0px #e5e5e5;
	}
	100%
	{
		box-shadow: 0px 0px 15px #e5e5e5;
	}
}

form button
{
	font-family: Audiowibe;
	font-size: 20px;
	border: solid 3px #e5e5e5;
	border-radius: 8px;
	padding: 5px;
	color: #e5e5e5;
	background-color: #252525;
	text-decoration: none;
	margin-top: 20px;
	transition-duration: 0.18s;
}

form button:hover
{
	color: #2e43b6;
	background-color: #e5e5e5;
	border-color: #2e43b6;
}