@font-face
{
	font-family: "Audiowibe";
	src: url('../style/Audiowide-Regular.ttf');
}

@font-face
{
	font-family: "Abel";
	src: url('../style/Abel-Regular.ttf');
}

html
{
	background-image: url("../rsrc/background.jpg");
}

html, body
{
	margin: 0px;
}

body
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

a
{
	position: absolute;
	top: -5px;
	left: -5px;
	font-size: 20px;
	font-family: Audiowibe;
	color: #e5e5e5;
	border: solid 3px #09410c;
	border-radius: 0px 0px 10px 0px;
	padding: 10px 8px 5px 10px;
	text-decoration: none;
	transition-duration: 0.18s;
}

a:hover
{
	border-color: #e5e5e5;
	background-color: #09410c;
	color: #e5e5e5;
	transition-duration: 0.18s;
}

h1
{
	font-size: 24px;
	font-weight: normal;
	font-family: Audiowibe;
	text-align: center;
	color: #e5e5e5;
	border: solid 3px #09410c;
	border-radius: 10px;
	margin-top: 10vh;
	margin-bottom: 6vh;
	padding: 5px 10px 5px 10px;
}

h2
{
	color: #e5e5e5;
	font-size: 20px;
	font-weight: normal;
	font-family: Abel;
	text-align: center;
	margin: 15px;
}

section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 26px;
	background-color: #09410c;
	border: solid 3px #252525;
	border-radius: 12px;
}

section#details div
{
	display: flex;
	flex-flow: row wrap;
}

section#details p
{
	font-size: 18px;
	font-family: Abel;
	color: #e5e5e5;
	text-align: center;
	margin: 8px;
	margin-left: 4px;
}

section#pswd form
{
	display: flex;
	flex-direction: column;
}

section#pswd form div
{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

@media (max-width: 450px)
{
	section#pswd form div
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	section#pswd form div label,
	section#pswd form div input
	{
		margin: 5px;
	}

	section#pswd input[type=submit]
	{
		margin-top: 24px;
	}
}

section#pswd label
{
	color: #e5e5e5;
	text-align: center;
}

section#pswd label, section#pswd input
{
	font-size: 18px;
	font-family: Abel;
	margin: 12px 15px 12px 15px;
}

section#pswd form input[type=password]
{
	border-radius: 10px;
	background-color: #e5e5e57a;
	border: solid 2px #e5e5e5;
	border-radius: 10px;
	outline: none;
	transition-duration: 0.18s;
}

section#pswd form input[type=password]:hover
{
	box-shadow: 0px 0px 12px #e5e5e5;
	transition-duration: 0.18s;
}

section#pswd form input[type=password]:focus
{
	animation: twinkle 0.8s infinite alternate;
}

@keyframes twinkle
{
	0%
	{
		box-shadow: 0px 0px 0px #e5e5e5;
	}
	100%
	{
		box-shadow: 0px 0px 12px #e5e5e5;
	}
}

section#pswd p.chg_resp
{
	font-size: 18px;
	font-family: Abel;	
	background-color: #e5e5e5;
	border-radius: 8px;
	padding: 1px 6px 1px 6px;
	margin: 0px;
}

section#pswd p#chg_resp_wrong
{
	color: #a81515;
	border: solid 2px #a81515;
}

section#pswd p#chg_resp_good
{
	color: #15a815;
	border: solid 2px #15a815;
}

section#pswd form input#confirm
{
	align-self: center;
}

section#pswd input#confirm
{
	font-size: 18px;
	font-family: Audiowibe;
	color: #252525;
	border: solid 2px #e5e5e5;
	border-radius: 10px;
	background-color: #e5e5e57a;
	transition-duration: 0.18s;
}

section#pswd input#confirm:hover
{
	background-color: #09410c;
	color: #e5e5e5;
	transition-duration: 0.18s;
}

section#del_account
{
	border: none;
	background-color: #e5e5e5;
}

section#del_account input
{
	font-size: 20px;
	font-family: Audiowibe;
	color: #e5e5e5;
	border: solid 2px #e5e5e5;
	border-radius: 10px;
	background-color: #252525a0;
	transition-duration: 0.18s;
}

section#del_account input:hover
{
	color: #252525;
	border-color: #09410c;
	background-color: #e5e5e5;
	transition-duration: 0.18s;
}