@font-face
{
	font-family: "Audiowibe";
	src: url('../style/Audiowide-Regular.ttf');
}

@font-face
{
	font-family: "Abel";
	src: url('../style/Abel-Regular.ttf');
}

html
{
	
	background-image: url("../rsrc/background.jpg");
}

html, body
{
	margin: 0px;
}

body,
section#master_container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1
{
	font-size: 24px;
	font-weight: normal;
	font-family: Audiowibe;
	text-align: center;
	color: #e5e5e5;
	border: solid 3px #09410c;
	border-radius: 10px;
	margin-top: 2vh;
	margin-bottom: 8vh;
	padding: 5px 10px 5px 10px;
}

div#annonce_box
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
	background-color: #09410c;
	border-radius: 15px;
	padding: 15px 25px 15px 25px;
}

div#annonce_box div#values div
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 590px)
{
	div#annonce_box
	{
		flex-direction: column;
	}

	div#annonce_box div#values div#ann_purpose
	{
		flex-direction: column;
	}
}

div#pctr
{
	height: 430px;
}

div#annonce_box div#values
{
	display: flex;
	flex-direction: column;
	gap: 19.5px;
}

div#annonce_box div#values div
{
	border: solid 2px #e5e5e5;
	border-radius: 5px;
	background-color: #e5e5e57a;
	padding: 1px 6px 1px 6px;
	justify-content: space-between;
}

div#annonce_box div#values div p
{
	font-size: 18px;
	font-family: Abel;
	margin: 0px;
}

div#annonce_box div#values div p.label
{
	font-weight: bold;
}

section#contact_section
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#modal_box
{
	display: none;
	position: absolute;
	top: 18vh;
	background-color: #09410c;
	border-radius: 12px;
	animation-name: spawn_by_top;
	animation-duration: 0.4s;
}

@keyframes spawn_by_top {
	from
	{
		top: -300px;
		opacity: 0;
	}
	to 
	{
		top: 18vh;
		opacity: 1;
	}
}

@keyframes spawn_by_bottom {
	from
	{
		bottom: -150vh;
		opacity: 0;
	}
	to 
	{
		bottom: -60vh;
		opacity: 1;
	}
}

@media (max-width: 590px)
{
	div#modal_box
	{
		top: auto;
		bottom: -60vh;
		animation-name: spawn_by_bottom;
	}
}

div#modal_box h2
{
	text-align: center;
	font-size: 22px;
	font-family: Abel;
	color: #e5e5e5;
	border:solid 2px #e5e5e5;
	border-radius: 8px;
	padding: 1px 6px 1px 6px;
}

div#modal_box form
{
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 15px;
}

div#modal_box form div
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#modal_box form div#mod_btn
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

section#contact_section form label,
section#contact_section form input,
section#contact_section form textarea,
section#contact_section form button
{
	text-align: center;
	font-size: 20px;
	font-family: Abel;
	color: #e5e5e5;
	border-radius: 8px;
	outline: none;
}

section#contact_section form textarea
{
	text-align: left;
	resize: none;
}

section#contact_section form div.item input,
section#contact_section form div.item textarea
{
	width: 75%;
}

section#contact_section form input,
section#contact_section form textarea,
section#contact_section form button
{
	color: #252525;
	background-color: #e5e5e57a;
	border: solid 2px #e5e5e5;
	transition-duration: 0.18s;
}

section#contact_section form input:hover,
section#contact_section form textarea:hover
{
	box-shadow: 0px 0px 18px #e5e5e5;
	transition-duration: 0.18s;
}

section#contact_section form input:focus,
section#contact_section form textarea:focus
{
	animation: twinkle 0.8s infinite alternate;
}

@keyframes twinkle
{
	0%
	{
		box-shadow: 0px 0px 0px #e5e5e5;
	}
	100%
	{
		box-shadow: 0px 0px 12px #e5e5e5;
	}
}

section#contact_section form div#mod_btn
{
	margin-top: 25px;
}

section#contact_section form div#mod_btn input,
section#contact_section form div#mod_btn button
{
	color: #252525;
}

section#contact_section form div#mod_btn input:hover,
section#contact_section form div#mod_btn button:hover
{
	color: #e5e5e5;
	background-color: #09410c;
	box-shadow: 0px 0px 0px #09410c;
}

div#page_btn
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 25px;
	margin-top: 35px;
}

div#page_btn a,
div#page_btn input,
div#page_btn button
{
	font-size: 20px;
	font-family: Audiowibe;
	color: #e5e5e5;
	border: solid 2px #e5e5e5;
	border-radius: 10px;
	background-color: #252525a0;
	padding: 1px 6px 1px 6px;
	text-decoration: none;
	transition-duration: 0.18s;
}

div#page_btn a:hover,
div#page_btn input:hover,
div#page_btn button:hover
{
	color: #252525;
	border-color: #09410c;
	background-color: #e5e5e5;
	transition-duration: 0.18s;
}

@media (max-width: 350px)
{
	div#pctr
	{
		height: 390px;
	}

	div#pctr img
	{
		width: 260px;
		height: 390px;
	}
}