<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="{{asset('style/login.css')}}"/>
		<meta http-equiv="X-UA-Compatible" content="TE-edge">
		<meta name="viewport3" content="width=device-width, initial-scale=1.0">
		<title>Historique d'achat - Connexion</title>
	</head>
	<body>
		<section id="login_form">
			<h1 id="title">Bienvenue</h1>
			<form method="post" action="index">
				<p>Veuillez vous connecter pour continuer</p>
				<input type="text" name="nom" placeholder="Votre login" required/>
				<input type="password" name="pwd" placeholder="Votre mot de passe" required/> 
				<button type="submit" name="test">Connexion</button>
			</form>
		</section>
	</body>
</html>