@font-face
{
	font-family: "Audiowibe";
	src: url('Audiowide-Regular.ttf');
}

@font-face
{
	font-family: "Abel";
	src: url('Abel-Regular.ttf');
}

html
{
	background-color: #e5e5e5;
}

html, body
{
	margin: 0px;
}

#title
{
	font-weight: normal;
	font-size: 25px;
	font-family: Audiowibe;
	text-align: center;
}

.product
{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto auto;
}

.product div
{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #e5e5e5;
	background-color: #252525;
}

.product p
{
	font-size: 20px;
	font-family: Abel;
}

.product #remove
{
	grid-row-start: 1;
	grid-column-start: 2;
}

.product #name
{
	grid-row-start: 2;
	grid-column-start: 1;
}

.product #ref
{
	grid-row-start: 2;
	grid-column-start: 2;
}

.product #type
{
	grid-row-start: 2;
	grid-column-start: 3;
}

.product #place
{
	grid-row-start: 3;
	grid-column-start: 1;
}

.product #date_buy
{
	grid-row-start: 3;
	grid-column-start: 2;
}

.product #date_end
{
	grid-row-start: 3;
	grid-column-start: 3;
}

.product #advices
{
	grid-row-start: 4;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 3;
}

.product #price
{
	grid-row-start: 4;
	grid-column-start: 3;
}

.product #read_me
{
	grid-row-start: 5;
	grid-column-start: 3; 
}