section.footer{

	background-image: url('img/bgfooter.png');
	background-size: cover;
}

.contacts h1{

	padding-top: 190px;
	font-family: "Leckerli One Regular";
	font-size: 36px;
	color: #fff;
	padding-bottom: 35px;
}

.contacts h2{

	font-family: "Montserrat Black";
	font-size: 42px;
	color: #fff;
	margin-bottom: 40px;
}

.footer{

	background-color: black;
	opacity: 0.5;
}

.footer p{
	
	padding-top: 50px;
	padding-bottom: 50px;
	color: #909090;
}